# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
# Quarto
/.quarto/
*_files/
*_cache/
/.freeze/

# Python
__pycache__/
*.py[cod]
.venv/
.cache/

# devenv
.devenv/
.direnv/

# Jupyter
.ipynb_checkpoints/

# Output
public/

**/*.quarto_ipynb*

# OS
.DS_Store
